/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
body {
    background-color: rgb(6, 90, 6);
}
img {
    max-width: 30vw;
}


/* HEADER */


/* MAIN */


/* FOOTER */